<h1>Update you password and email</h1>
<%= form_with model: @user, local: true, url: account_path, method: :put do |form| %>
<%= render partial: "shared/form_errors", locals: {object: form.object}%>
<div class="container-fluid">
    <%= form.label :email %><br>
    <%= form.text_field :email, required: true, placeholder: "mail@domain.com" %>
</div><br>
<div class="container-fluid">
    <%= form.label :password %><br>
    <%= form.password_field :password, required: true, placeholder: "**Password**" %>
</div><br>
<div class="container-fluid">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, required: true, placeholder: "**Password**" %>
</div><br>
<div class="container-fluid">
    <%= form.button "Sign Up" %>
</div>
<%end%>
