<h1>Update you password and email</h1>
<%= form_with model: @user, local: true, url: account_path do |form| %>
<%= render partial: "shared/form_errors", locals: {object: form.object}%>
<div class="container-fluid">
    <%= form.label :email, "Current Email" %><br>
    <%= form.email_field :email, disabled: true %>
</div><br>
<div class="container-fluid">
    <%= form.label :unconfirmed_email, "New Email" %><br>
    <%= form.text_field :unconfirmed_email, required: true, placeholder: "mail@domain.com" %>
</div><br>
<div class="container-fluid">
    <%= form.label :password, "Password (leave blank if you don't want to change your password)" %><br>
    <%= form.password_field :password, placeholder: "**Password**" %>
</div><br>
<div class="container-fluid">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation, placeholder: "**Password**" %>
</div><br>
<div class="container-fluid">
    <%= form.label :current_password, "Current Password (Need your current password to confirm your changes)" %><br>
    <%= form.password_field :password, required: true, placeholder: "**Password**" %>
</div><br>
<div class="container-fluid">
    <%= form.button "Update Account" %>
</div>
<%end%>
